{% extends './layout/layout.html' %} {% block content %}
<section id="home" class="min-h-100vh flex justify-center items-center">
  <div class="mx-5 md-mx-l5 text-center">
    <button
      id="smart-booth-button"
      class="button-lg bg-black black-lightest focus-white fw-300 fs-x10 mr-0 br-l-0"
      style="padding: 140px 100px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)"
    >
      <span style="font-weight: 600; font-size: 30px; text-align: left"
        >우리 동네<br />스마트 흡연 부스 및<br />꽁초 수거함 관리하기</span
      >
      <img
        src="assets/images/스마트흡연부스관리.png"
        style="width: 50px; height: 60px; margin-right: 10px"
      />
    </button>

    <script>
      document
        .getElementById("smart-booth-button")
        .addEventListener("click", function () {
          window.location.href = "smart-booth-manage.html";
        });
    </script>

    <button
      class="button-lg bg-white black focus-white fs-300 fs-x10 mr-0 br-l-0"
      style="padding: 140px 100px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)"
    >
      <span style="font-weight: 600; font-size: 30px; text-align: left"
        >우리 동네<br />신고 접수 현황<br />확인하기</span
      >
      <img
        src="assets/images/사이렌.png"
        style="width: 50px; height: 60px; margin-right: 10px"
      />
    </button>
  </div>
</section>
{% endblock %}
